.random-user-search__row {
    margin-bottom: 10px;
}

.random-user-pagination-container {
    display: flex;
    justify-content: space-between;

    margin-top: 15px;
    padding-left: 20px;
    padding-right: 20px;

    &__total-data-info {
        display: flex;
        align-items: center;
        font-size: 13px;

    }
}